<div class="container" >

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Konu Detayı
                <small>hayat detaylarda gizlidir.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/index.html">Ana Sayfa</a>
                </li>
                <li class="active">Blog Detay</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <h3 ng-bind="Model.Title"></h3>

            <p><i class="fa fa-clock-o"></i> <span ng-bind="Model.Created"></span> <a href="#" ng-bind="Model.Creator"></a>
            </p>
            <hr>
            <img src="{{Model.ImageUrl}}" class="img-responsive">
            <hr>
            <p class="lead" ng-bind="Model.Description"></p>

            <div ng-bind-html="Model.MoreDescription">
            </div>
</div>
<div class="col-lg-4">
<h3>Kategoriler</h3>
<ul><li ng-repeat="cat in Model.Categories">{{cat.Text}}</li></ul>
</div>
</div>
</div>
