<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Arama
                <small>blog Araması</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Ana Sayfa</a>
                </li>
                <li class="active">Blog Arama</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
          <!-- Blog Search Well -->
          <div class="well">
              <h4>Blog Search</h4>
              <div class="input-group">
                  <input type="text" class="form-control" ng-model="SearchModel.SearchString">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="SearchModel.Search()">
                          <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </span>
              </div>
              <!-- /.input-group -->
          </div>


        <ul>
<li  ng-repeat="result in Model.Results">

    <a href="#/post/{{result.Id}}" ng-bind="result.Title"></a>
</li>
        </ul>
        </div>

    </div>

</div>
<!-- /.container -->
